@charset "utf-8";

h1 {
    text-shadow: #f372a4 4px 4px 10px;
}
section:first-of-type h1 {
    text-shadow: #CECECE -10px 10px 5px;
}
section:first-of-type p:first-of-type::first-line {
    font-size: 1.25em;
    font-variant: small-caps;
}
section:first-of-type p:first-of-type::first-letter {
    font-size: 2.5em;
    float: left;
    line-height: .25em;
}
section:nth-of-type(2) p {
    border: 1px solid #292929;
    border-radius: 5px;
    padding: 10px;
    background: linear-gradient(#e7e0e5, #bb66a0);
    box-shadow: #d8a0c6 -5px -5px 5px, #4d2c44 5px 5px 5px;
}
section > header > img {
    filter: saturate(.5);
    border: 1px solid #292929;
    border-radius: 100px 5px;
    box-shadow: #000000 5px 0px 5px, #525151 -5px 0px 5px;
}
body > header > nav > ul {
    text-shadow: #292929 2px 2px 2px;
}